
h1 {
  font-family:'Roboto Slab', Geneva, sans-serif;
  font-size:48pt;
  color: #fff;
  text-align:center;
}

h2 {
  font-family:'Lato', Geneva, sans-serif;
  font-size:24pt;
  font-weight:100;
  margin-top: -26px;
  padding-bottom: 16px;
  letter-spacing:2px;
  color: #fff;
  text-align:center;
}

h3 {
  font-family: 'Lato', Geneva, sans-serif;
  font-size:18pt;
  color:#212121;
}

/* Background */

#bg {
  position:fixed;
  right:0; bottom: 0;
  min-width:100%; min-height:100%;
  width:auto; height: auto; z-index: 1;
  background-color:#000;
}

video#bgvid {
  position: fixed;
  right: 0; bottom: 0;
  background-position: 50 0;
  opacity:.5;
  min-width: 100%; min-height:100%;
  width: auto; height: auto; z-index: 2;
  background:#000;
  background-size: cover;
}

/** custom login button **/
.flatbtn-blu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width:250px;
  outline: 0;
  border: 0;
  color: #edf4f9;
  text-decoration: none;
  background-color: #4f94cf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover {
  color: #fff;
  background-color: #519dde;
}
.flatbtn-blu:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}


/** modal window styles **/
#lean_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  z-index:9;
  display: none;
}

#modal-auth {
  z-index:10;
  position:fixed;
  width: 650px;
  padding: 40px 20px 40px;
  background: #D7CCC8;
  opacity:.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}


#modal-user {
  z-index:10;
  position:fixed;
  width: 300px;
  padding: 20px 20px 40px;
  background: #D7CCC8;
  opacity:.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#form-reg { /* no default styles */ }
#form-signin { /* no default styles */ }

#register {
  width: 298px;
  padding-right:25px;
  margin: 0 auto;
  border-right: 1px solid #212121;
}

#signin{
  width:299px;
  padding-left:25px;
}

p.notice {
  display:none;
  color:#F44336;
  font-family: 'Roboto Slab', Geneva, sans-serif;
}

.txtfield {
  display: block;
  width: 250px;
  padding: 6px 5px;
  margin: 0 auto 15px;
  font-family: 'Roboto Slab', Geneva, sans-serif;
  color: #7988a3;
  font-size: 14pt;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

#middle{
  position:relative;
  width:500px; height:500px;
  margin: 0 auto;
  top: 50%;
  -ms-transform: translateY(-50%)
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index:2;
}

#new_user, #greet {
  font-family:'Lato', Geneva, sans-serif;
  display:none;
  color: #fff;
  margin-top:270px;
  font-size:18pt;
  font-weight:100;
  text-align:center;
}

#new_user a, #greet a{
  color:#fff;
  text-decoration:none;
  font-weight:300;
}

#new_user a:hover, #greet a:hover{
  border-bottom: 1px solid #fff;
}

/* Shapes */

.circle {
  border-radius: 50%;
  behavior: url(PIE.htc); /* IE8 */
  width: 200px; height: 200px;
  border: 1px solid #fff;
  z-index: 2;
}

#frost{
  display:none;
  opacity:0.4;
  background:#fff;
  overflow:hidden;
  position: absolute;
}

#rsvp{
  position: relative;
  cursor:pointer;
}

#rsvp_text{
  display:none;
}

#count{
  position: relative;
}

hr {
  height:1px;
  border:0;
  width:260px;
  background:#212121;
}

.circle p{
  font-family: 'Lato', Geneva, sans-serif;
  font-size:18pt;
  color:#fff;
  position:relative;
  text-align:center;
  margin: 0;
  z-index:3;
  height: auto; width: 200px;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
}
.circle a {
  text-decoration:none;
  color:#fff;
}

.circle p span.rsvp {
  font-size:42pt;
  font-family:'Roboto Slab', Geneva, sans-serif;
}

#rsvp_success{
  display:none;
  color: #66BB6A;
  font-size:96pt;
}

.circle p span.count {
  font-family:'Roboto Slab', Geneva, sans-serif;
  font-size:72pt;
}

.circle p span.subtitle {
 text-align:center;
}

/* Alignments */
.fleft { float:left; }
.fright { float:right; }
.center { display: block; text-align: center; }

@media screen and (max-width: 375px) {

h2 {
  padding-bottom: 43px;
}

#middle {
  height: 900px;
  top: 100%;
}

.fleft {
  margin-left: 25px;
}

.fright {
  margin-right: 25px;
}

#new_user, #greet {
margin-top: 300px;
font-size: 32pt;
}

}
